@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0;
    padding: 0;
}

.page{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    align-items: center; 
    position: relative;

    background: rgba(0, 0, 0, 0.8); 
    mix-blend-mode: normal; 
}

.subtitle{
    position: absolute;
    top: 45%;

    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 64px;

    color: #FFFFFF;
}

.background{
    position: fixed;
    width: 100%;
    mix-blend-mode: darken;
}

.logo{
    position: absolute;
    top: 25%;
}

.twitter{
    position: absolute;
    top: 60%;
}

