@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0;
    padding: 0;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url(./assets/moviePosterBG.png) no-repeat; 
    mix-blend-mode: darken;
    height: 100%;
    min-height: 100vh;
}

.logo{
    position: absolute;
    top: 7%;
    left: 4%;
}

.subtitle{
    position: absolute;
    align-self: center;
    top: 35%;

    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 240px;
    /* identical to box height */

    color: #EF233C;
}

.subtitle span {
    color: #EDF2F4;
}



