.page{

    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;

    position: relative;

    background: rgba(0, 0, 0, 0.8); 
    mix-blend-mode: normal; 
}

.subtitle{
    position: absolute;
    align-self: center;
    top: 40%;

    font-family: var(--font-josefin);
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 240px;
    /* identical to box height */

    color: #D90429;
}

.background{
    /*position: absolute;
    width: 2013px;
    height: 2759px;
    left: -93px;
    top: -388px; */
    position: relative;
    height: 100%;
    min-height: 100vh;
    mix-blend-mode: darken;
}

.logo{
    position: absolute;
    top: 7%;
    left: 4%;
}


