@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0;
    padding: 0;
}

.page{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;

    position: relative;

    background: rgba(0, 0, 0, 0.8); 
    mix-blend-mode: normal; 
}

.subtitle{
    position: absolute;
    align-self: center;
    top: 35%;

    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 400;

    font-size: 50px;
    line-height: 120px;

/* identical to box height */

    color: #D90429;
}

.subtitle span {
    color: #EDF2F4;
}

.background{
    position: fixed;
    width: 100%;
    mix-blend-mode: darken;
}

.logo{
    position: absolute;
    top: 7%;
    left: 4%;
}


